html, body{
    height: 100%;
    margin: 0;
    font-family: monospace;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    height: 100%;
    margin: 2rem;
    padding: 2rem 3rem;
    border: 1px solid black;
}  

header {
    font-size: 30px;
}

header, h1{
    margin: 0;
}

section{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

section div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

section div article:first-child{
    width: 15%;
    border-radius: 15px;
    padding : 0 0 20px 0;

}

section div article:last-child{

}

section > article{
    background-color: white;
    color : black;
    text-align: center;
    width: 10%;
    border: 1px solid rgb(44, 43, 43);
    transition: background-color 0.5s ease, color 0.5s ease;
}

section > article:hover{
    background-color: black;
    color: white;
}


ul li{
    list-style: none;
    text-decoration: none;
    transition : transform 1s 500ms;
}

ul li:hover{
    text-decoration: underline;
}